.myProfile__info {
	padding-bottom: 80px;
	background: #f7f6ff;
	&-content {
		display: flex;
		column-gap: 50px;
	}
	&-left {
		padding-top: 170px;
		display: flex;
		width: 50%;
		flex-direction: column;
	}
	&-profession {
		font-weight: 600;
		font-size: 24px;
		color: #fba457;
	}
	&-name {
		font-weight: 600;
		font-size: 36px;
		margin: 10px 0 20px;
	}
	&-description {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}
	&-technologies {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin: 30px 0 60px;
	}
	&-technology {
		border: 1px solid #f2f0fe;
		border-radius: 50px;
		padding: 10px 20px;
		font-weight: 400;
		font-size: 14px;
	}
	&-more {
		padding: 20px 40px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		background: #f2f0fe;
		border-radius: 20px;
		&-trigger {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&-text {
				font-weight: 500;
				font-size: 18px;
				color: #000000;
			}
			&-arrow {
				transition: 0.5s;
				&.active {
					transform: rotate(180deg);
				}
			}
		}
		&-popover {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		&-item {
			display: flex;
			column-gap: 20px;
			align-items: flex-start;
			&-left {
				display: flex;
				column-gap: 5px;
				align-items: center;
				width: 30%;
				justify-content: end;
			}
		}
	}
	&-right {
		width: 50%;
		&-group {
			padding-top: 40px;
			position: relative;
			margin-top: 60px;
			margin-left: 90px;
			width: 70%;
		}
		&-avatar {
			width: 100%;
			border-radius: 50%;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}
		&-circle1 {
			position: absolute;
			top: -25px;
			z-index: 0;
			left: -25px;
		}
		&-circle2 {
			position: absolute;
			bottom: -25px;
			z-index: 0;
			right: -100px;
		}
		&-net {
			position: absolute;
			bottom: 25px;
			left: -25px;
		}
		&-waves {
			position: absolute;
			right: -20px;
			top: 200px;
			z-index: 2;
		}
		&-grade {
			position: absolute;
			z-index: 2;
			left: 50%;
			bottom: -25px;
			background: #f6fafd;
			box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
			border-radius: 20px;
			padding: 20px;
			transform: translateX(-50%);
		}
		&-status {
			position: absolute;
			display: flex;
			column-gap: 5px;
			z-index: 2;
			align-items: center;
			left: -80px;
			bottom: 50%;
			padding: 12px 35px;
			background: #f6fafd;
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
			border-radius: 50px;
			&-text {
				font-weight: 500;
				font-size: 16px;
				color: #1dbf73;
			}
		}
	}
}
